body { /* estiliza o corpo da página */
    background-color: #ddd7d7;
    font-family: Arial, sans-serif;
    color: #6c4eda;
}

.paragrafo {
    color: rgb(160, 25, 25);
    font-weight: bold;  /* peso da fonte */
    font-family: sans-serif, arial;
    text-align: center; /* alinhamento dos textos */
    line-height: 30px; /* altura da fonte; distância entre os textos */
    font-size: 22px; /* tamanho da fonte*/

}